html(lang="en")
    head
        meta(charset="UTF-8")
        title Andreas Holm
        style
            include ../public/CSS/style.css
        script(src="/static/javascript/script.js")
    body
        div.max-width
        div.bg-photo